In [1]:
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd 
import scipy
import PIL
import requests

In [2]:
# load data, removing spaces in column headers
columns = ["Customer_ID", "Age", "Gender", "Item_Purchased", "Item_Category", "Purchase_Amount_(USD)", "Location", "Color", "Season", "Review_Rating", "Subscription_Status", "Shipping_Type", "Discount_Applied", "Promo_Code_Used", "Previous_Purchases", "Payment_Method", "Frequency_of_Purchases"]
df = pd.read_csv("../data/Customers3.csv", header = 0, names = columns)
df

,Customer_ID,Age,Gender,Item_Purchased,Item_Category,Purchase_Amount_(USD),Location,Color,Season,Review_Rating,Subscription_Status,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Payment_Method,Frequency_of_Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [3]:
# typo checking!
for i in df.columns:
    print(df[i].unique()) # ex: print(df["Gender"].unique())

[   1    2    3 ... 3898 3899 3900]
[55 19 50 21 45 46 63 27 26 57 53 30 61 65 64 25 52 66 31 56 18 38 54 33
 36 35 29 70 69 67 20 39 42 68 49 59 47 40 41 48 22 24 44 37 58 32 62 51
 28 43 34 23 60]
['Male' 'Female']
['Blouse' 'Sweater' 'Jeans' 'Sandals' 'Sneakers' 'Shirt' 'Shorts' 'Coat'
 'Handbag' 'Shoes' 'Dress' 'Skirt' 'Sunglasses' 'Pants' 'Jacket' 'Hoodie'
 'Jewelry' 'T-shirt' 'Scarf' 'Hat' 'Socks' 'Backpack' 'Belt' 'Boots'
 'Gloves']
['Clothing' 'Footwear' 'Outerwear' 'Accessories']
[ 53  64  73  90  49  20  85  34  97  31  68  72  51  81  36  38  48  62
  37  88  22  25  56  94  79  67  91  33  69  45  60  76  39 100  21  43
  54  55  30  28  59  24  83  46  70  29  26  58  96  40  32  95  41  47
  99  87  92  98  89  35  75  65  86  84  77  27  23  74  80  42  61  82
  78  93  50  57  66  44  52  71  63]
['Kentucky' 'Maine' 'Massachusetts' 'Rhode Island' 'Oregon' 'Wyoming'
 'Montana' 'Louisiana' 'West Virginia' 'Missouri' 'Arkansas' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Alabama' 'Mississippi'
 'North Carolina' 'California' 'Oklahoma' 'Florida' 'Texas' 'Nevada'
 'Kansas' 'Colorado' 'North Dakota' 'Illinois' 'Indiana' 'Arizona'
 'Alaska' 'Tennessee' 'Ohio' 'New Jersey' 'Maryland' 'Vermont'
 'New Mexico' 'South Carolina' 'Idaho' 'Pennsylvania' 'Connecticut' 'Utah'
 'Virginia' 'Georgia' 'Nebraska' 'Iowa' 'South Dakota' 'Minnesota'
 'Washington' 'Wisconsin' 'Michigan']
['Gray' 'Maroon' 'Turquoise' 'White' 'Charcoal' 'Silver' 'Pink' 'Purple'
 'Olive' 'Gold' 'Violet' 'Teal' 'Lavender' 'Black' 'Green' 'Peach' 'Red'
 'Cyan' 'Brown' 'Beige' 'Orange' 'Indigo' 'Yellow' 'Magenta' 'Blue']
['Winter' 'Spring' 'Summer' 'Fall']
[3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4.9 4.5 4.7 2.8 4.6 3.3 4.4 3.6 5.  4.
 3.7 4.2 3.9 3.  3.8 3.4 4.3 2.5]
['Yes' 'No']
['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']
['Yes' 'No']
['Yes' 'No']
[14  2 23 49 31 19  8  4 26 10 37 34 44 36 17 46 50 22 32 40 16 13  7 41
 45 38 48 18 15 25 39 35 29 21 43  3  5 24 42 47 28 20 33  1  9 12 27 11
 30  6]
['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']
['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']

In [4]:
# data cleaning - checking for null values
iN = df.isnull()
print(iN)

      Customer_ID    Age  Gender  Item_Purchased  Item_Category  \
0           False  False   False           False          False
1           False  False   False           False          False
2           False  False   False           False          False
3           False  False   False           False          False
4           False  False   False           False          False
...           ...    ...     ...             ...            ...
3895        False  False   False           False          False
3896        False  False   False           False          False
3897        False  False   False           False          False
3898        False  False   False           False          False
3899        False  False   False           False          False

      Purchase_Amount_(USD)  Location  Color  Season  Review_Rating  \
0                     False     False  False   False          False
1                     False     False  False   False          False
2                     False     False  False   False          False
3                     False     False  False   False          False
4                     False     False  False   False          False
...                     ...       ...    ...     ...            ...
3895                  False     False  False   False          False
3896                  False     False  False   False          False
3897                  False     False  False   False          False
3898                  False     False  False   False          False
3899                  False     False  False   False          False

      Subscription_Status  Shipping_Type  Discount_Applied  Promo_Code_Used  \
0                   False          False             False            False
1                   False          False             False            False
2                   False          False             False            False
3                   False          False             False            False
4                   False          False             False            False
...                   ...            ...               ...              ...
3895                False          False             False            False
3896                False          False             False            False
3897                False          False             False            False
3898                False          False             False            False
3899                False          False             False            False

      Previous_Purchases  Payment_Method  Frequency_of_Purchases
0                  False           False                   False
1                  False           False                   False
2                  False           False                   False
3                  False           False                   False
4                  False           False                   False
...                  ...             ...                     ...
3895               False           False                   False
3896               False           False                   False
3897               False           False                   False
3898               False           False                   False
3899               False           False                   False

[3900 rows x 17 columns]

In [ ]:
# checking for missing values, by column indexes and iterating over its rows
all_cols = df.columns

for i in all_cols:
    null_rows = df[df[i].isnull()].index.tolist()
    empty_rows = df[df[i] == ''].index.tolist()
    print(null_rows, empty_rows)

[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []
[] []

In [13]:
# dropping empty rows and checking if dataframe has changed shape - it hasn't = no empties!
# df.shape # (3900, 17)
drop_missing = df.dropna()
drop_missing.shape # (3900, 17)

(3900, 17)

In [7]:
print(df.isnull().sum())

Customer_ID               0
Age                       0
Gender                    0
Item_Purchased            0
Item_Category             0
Purchase_Amount_(USD)     0
Location                  0
Color                     0
Season                    0
Review_Rating             0
Subscription_Status       0
Shipping_Type             0
Discount_Applied          0
Promo_Code_Used           0
Previous_Purchases        0
Payment_Method            0
Frequency_of_Purchases    0
dtype: int64

In [8]:
nulls_per_row = df.isnull().sum(axis=1)
print(nulls_per_row)

0       0
1       0
2       0
3       0
4       0
       ..
3895    0
3896    0
3897    0
3898    0
3899    0
Length: 3900, dtype: int64

In [9]:
print(df.dtypes)

Customer_ID                 int64
Age                         int64
Gender                     object
Item_Purchased             object
Item_Category              object
Purchase_Amount_(USD)       int64
Location                   object
Color                      object
Season                     object
Review_Rating             float64
Subscription_Status        object
Shipping_Type              object
Discount_Applied           object
Promo_Code_Used            object
Previous_Purchases          int64
Payment_Method             object
Frequency_of_Purchases     object
dtype: object

In [10]:
int_cols = df.select_dtypes(include='int64')
print("Int64 columns:\n", int_cols.columns)
null_counts = int_cols.isnull().sum()
print("Nulls in int64 columns:\n", null_counts)

Int64 columns:
 Index(['Customer_ID', 'Age', 'Purchase_Amount_(USD)', 'Previous_Purchases'], dtype='object')
Nulls in int64 columns:
 Customer_ID              0
Age                      0
Purchase_Amount_(USD)    0
Previous_Purchases       0
dtype: int64

In [11]:
df.isna().sum()
df.duplicated().sum()

0